<% provide(:title, 'All books') %>

<div class="row mb-2 justify-content-md-center">
  <div class="col-md-8">
    <h1>All books</h1>
    <%= render @books %>
    <%= paginate @books %> </div>
</div>

